<div style="margin: 0 0 30px 0px"></div>
<hr />
<div style="margin: 15px">
  <button mat-button mat-raised-button color="secondary">Save All</button>
  <button mat-button mat-raised-button color="primary">ADD PRODUCTS</button>
  <button mat-button mat-raised-button color="primary">
    ADD ITEMS TO CARD
  </button>
  <button mat-button mat-raised-button color="secondary">COPY QUOTE</button>
  <button mat-button mat-raised-button color="secondary">CLEAR QUANTITY</button>
</div>
<hr />

<!-- LINEITEM -->
<div class="container-fluid">
  <div class="row my-2" *ngFor="let item of templateItems | async">
    <!-- SELECT -->
    <div class="col-auto"><input type="checkbox" /></div>
    <!-- IMG -->
    <div class="col-1">
      <div style="text-align: center">{{ item.itemNumber }}</div>
      <img
        width="70"
        [src]="
          baseImgUrl + '/images/large/' + item.itemNumber + '_default_thumb.jpg'
        "
        [alt]="item.itemNumber"
      />
    </div>
    <!-- **** -->
    <div class="col-6">
      <!-- DETAILS -->
      <div class="row">
        <div class="col-12">
          <h3 class="mb-1" [innerHTML]="item.itemOrProductDescription"></h3>
        </div>
        <div class="col-12 mb-2">Nickname:</div>
      </div>
    </div>
    <!-- PRICE -->
    <div class="col-2" style="text-align: center">
      <span>{{ item.unitPrice | currency }} / {{ item.unitOfMeasure }}</span>
    </div>
    <!-- QTY -->
    <div class="col-1">
      <input style="width: 70px" type="number" [value]="item.quantity" />
    </div>
    <div class="col-1" style="text-align: center">
      <mat-icon>delete</mat-icon>
    </div>
    <!-- XXXXX -->
    <section class="row">
      <div class="col-auto">&nbsp;</div>
      <div class="col-1">&nbsp;</div>
      <div
        class="col-auto my-2"
        *ngFor="let type of item.multiVariationData.allVariationTypes"
      >
        <mat-form-field class="mx-0">
          <mat-label>{{ type }}</mat-label>
          <mat-select
            #variations
            [value]="getCurrentSku(item, type)"
            (selectionChange)="handleSkuChange(item, type, variations.value)"
          >
            <!-- OPTION -->
            <mat-option
              *ngFor="let sku of getSkus(item, type); let i = index"
              [value]="sku"
              >{{ sku }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </section>
    <hr />
  </div>
</div>
