<ul style="list-style: none">
  <li *ngFor="let item of templateItems | async">
    <!-- ADD -->
    <input type="checkbox" style="color: rgb(124, 69, 69)" />

    <!-- IMG -->
    <div style="padding: 4px 10px">
      <p style="text-align: center">{{ item.itemNumber }}</p>
      <div>
        <img
          width="88"
          [src]="baseImgUrl + item.imageUrl.thumbnail"
          [alt]="item.itemNumber"
        />
      </div>
    </div>

    <!-- PRODUCT DETAILS -->
    <div>
      <div [innerHTML]="item.itemOrProductDescription"></div>
      <p>#{{ item.itemNumber }}</p>
      <p>Nickname: {{ item.nickname }}</p>
      <!-- Variations -->
      <div
        *ngFor="let v of item.multiVariationData.allVariationTypes"
        style="display: inline-block"
      >
        <label style="color: black">{{ v }}</label>
        <select style="color: black" style="width: 28vw">
          <option
            *ngFor="let sku of getCurrentSkus(item, v)"
            [value]="item.productName"
          >
            {{ sku }}
          </option>
        </select>
      </div>
    </div>

    <!-- PRICE -->
    <div>{{ item.unitPrice | currency }}</div>

    <!-- QTY -->

    <!-- DEL -->

    <hr />
  </li>
</ul>
